.button {
  padding: 15px 28px;
  border-radius: 10px;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.bg-red {
  color: #FFFFFF;
  background: #FE4610;
  border: none;
}

.border {
  color: #F75532;
  border: 1px solid #F75532;
  border-radius: 10px;
  background: #FFF;
}

