.scheulde{
  padding-bottom:80px ;
}

.sheulde__title {
  margin: 0;
  margin-bottom: 33px;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

form {
  display: flex;
  align-items: center;
  gap: 57px;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.sheulde__label {
  position: relative;
  width: 100%;
  max-width: 225px;
  margin-left: 56px;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #001F29;
}

.sheulde__label::before {
  position: absolute;
  top: -10px;
  left: -56px;
  width: 100%;
  max-width: 40px;
  height: 40px;
  content: "";
  background-image: url('../../assets/images/loaction.svg');
}

.label2::before {
  background-image: url('../../assets/images/calendar.svg');
}

.label3::before {
  background-image: url('../../assets/images/calendar.svg');
}

.sheulde__input {
  caret-color: red;
  display: block;
  margin-top: 14px;
  padding: 16px 0 16px 16px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ABADAD;
  background: #FAFAFA;
  border-radius: 10px;
  border: none;
  outline: none;
}